# devbox configuration
.devbox/

# JULES/FCM source and build
jules/
fcm/
build/

# Computed outputs from examples
examples/**/outputs
stdout.log
stderr.log

# Developer workbench
workbench/

# python virtual environment
.venv/

# Analysis outputs
*.png

# notebooks
*.ipynb
.ipynb_checkpoints/

# Credentials file
.env
