# devbox configuration
.devbox/

# Credentials file
.env

# container images
*.tar
*.tar.gz

# JULES/FCM source and build
_build/
_download/
fcm/
jules/

# Computed outputs from examples
examples/**/outputs
stdout.log
stderr.log

# Developer workbench
workbench/
