# Developer workbench
workbench/

# python virtual environment
.venv/

# Analysis outputs
*.png

# notebooks
*.ipynb
.ipynb_checkpoints/

# Credentials file
.env

# container images
*.tar
*.tar.gz
__pycache__/
*.egg-info

*.ipynb
workbench/
